.card {
    border: #7c868a;
    background: rgb(199, 199, 194);
    width: 80%;
    border-radius: 10px;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    padding: 1rem;
    box-shadow: 5px 5px 8px -9px rgb(0, 0, 0, 0.75);
}
