.nav-bar {
  display: flex;
  width: 100%;
  height: 3.5rem;
  background: #a4aab1;
  align-items: center;
  top: 0;
}

.query-options-bar {
  width: 100%;
  display: flex;
  background: #a4aab1;
  box-shadow: 0 5px 8px -9px rgb(0, 0, 0, 0.75);
  height: 1.8rem;
  vertical-align: middle;
  margin: auto;
}

.filter-sort-options-bar {
  width: 100%;
  display: flex;
  background: #a4aab1;
  box-shadow: 0 5px 8px -9px rgb(0, 0, 0, 0.75);
  height: 1.8rem;
  vertical-align: middle;
  margin: auto;
}

.body{
  margin: 20px 0;
  justify-content: space-around;
}
.logo-container {
  width: 15%;
  min-width: 150px;
  height: 100%;
  text-align: center;
}
.logo-container:hover {
  cursor: pointer;
}
.logo-container img {
  height: 100%;
}

.search-box-container {
  width: 100%;
  position: relative;
  display: flex;
  background: white;
  border-radius: 15px;
}

#search-input {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
  padding-left: 10px;
}

#search-button {
  margin-left: auto;
}

.user-button-container {
  margin-left: auto;
  padding-right: 1rem;
  display: flex;
  height: 2rem;
  display: flex;
  align-items: center;
}

.user-button-container > label {
  margin-inline: 10px;
}
.default-button {
  height: 100%;
  display: flex;
  align-items: center;
  margin:0 10px;
  padding-inline: 10px;
}

.user-button {
  background: none;
  border: none;
  border-radius: 10px;
  height: auto;
  padding: 5px 10px;
}
.user-button:hover {
  background: #7c868a;
}
#user-name-txtbox {
  color: black;
  margin-left: 10px;
}
#user-button {
  outline: black;
}

#nav-center {
  width: 40%;
}
.v-divider {
  border-left: 2px solid rgb(134, 128, 128);
  margin: 4px 20px;
}
.h-divider {
  border-top: 2px solid rgb(134, 128, 128);
}

.query-options {
  margin-top: 5px;
  margin-left: 10px;
}

select {
  margin-right: 10px;
}