html, body {
height: 100%;
width: 100%;
}

body {
    background-color: #ced4da;
}
* {
  margin: 0;
  padding: 0;
}

.index-div {
    margin-top: 10px;
    text-align: center;
}

.result-box {
 display: grid;
 grid-template-columns: 1fr;
 margin:auto;
}

.page-wrapper {
    display: block;
    height: 100%;
}
#card-view {
    margin-left: 3%;
}